.navigation-menu {
	& h1 {
		font-size: 44px;
		text-align: center;
		margin: 1% auto;
		font-family: "Outfit", Impact, Haettenschweiler, "Arial Narrow Bold",
			sans-serif;
	}
}
ul {
	list-style: none;
}
a {
	text-decoration: none;
	font-size: 24px;
}
a:hover {
	color: rgba(88, 194, 255, 0.887);
}

h1,
h2,
h3,
label,
a {
	font-family: "Outfit", Impact, Haettenschweiler, "Arial Narrow Bold",
		sans-serif;
	color: white;
}
p {
	font-family: "Outfit", Impact, Haettenschweiler, "Arial Narrow Bold",
		sans-serif;
}
input,
button {
	font-family: "Outfit", Impact, Haettenschweiler, "Arial Narrow Bold",
		sans-serif;
}

.container-light {
	background: hsl(217, 61%, 90%);
	.container-text-home {
		color: black;
	}
	.bm-burger-bars {
		background-color: black;
	}
	& nav > h1 {
		color: black;
	}
	& nav > ul > li > button {
		background-color: white;
		color: black;
	}
	& .container-extension-list ul > li > button.active-filter {
		color: white;
	}
	& .container-toggle {
		background-color: hsl(0, 0%, 100%);
		& figure > figcaption > h2 {
			color: black;
		}
		& button {
			border: solid 2px red;
			background-color: rgba(238, 238, 238, 0.537);
		}
	}
	.container-extension {
		background: white;
		color: black;
		border: solid 2px rgba(66, 65, 65, 0.166);
		& div:first-of-type > article > h3 {
			color: black;
		}
		& div:last-of-type > button {
			background: rgba(255, 255, 255, 0.64);
			border: solid 2px rgba(66, 66, 66, 0.185);
			color: black;
		}
	}
	.slider {
		border: solid 1px rgba(0, 0, 0, 0.365);
		background-color: rgba(158, 157, 157, 0.736);
	}
}

.container-text-home {
	font-size: 24px;
	color: white;
	text-align: center;
}

@media screen and (max-width: 430px) {
	.navigation-menu > h1 {
		padding: 3px;
	}
	.container-text-home {
		font-size: 16px;
	}
}
